/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background-color: #eee;
}

html, body {
  height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.row {
  margin: 0px !important;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.video-container {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.video-container video{
    /* video cubre la pantalla */
    min-width: 100%;
    min-height: 100%;

    width: auto;
    height: auto;
    /* center video */
    position: absolute;
    top: 50%;
    left: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%,-50%);
}
#navigation ul{
    list-style: none;
    display: inline-flex;
}
#navigation li{
    padding: 10px;
    transition: all ease 0.4s;
}
#navigation li:hover{
    background: rgba(0,0,0,0.6);
}
#navigation li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#description{
    width: 100%;
    background: black;
    bottom: 0;
     /* height: 0;  */
     visibility: hidden;
}
.cambio{
    /* background: red !important; */
    transition: all ease 0.3s;
    position: fixed !important;
    top: 0;
    bottom: inherit !important;
    height: auto !important;
    visibility:visible !important;
}
.food .item{
    overflow: hidden;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    line-height: 300px;
}
.food .item:hover .title{
    top: 0;
    transition: all ease 0.4s;
}
.food .item p{
    margin: 0;
}
.title{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    color: white;
    transition: all ease 0.4s;
    font-size: 2em;
    top: -100%;
}
.menu-text{
    background: white;
    z-index: 20;
    color: black;
    padding: 20px 60px;
    font-size: 3em;
    top: 40%;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    left: 42%;
}
#galeria {
  overflow: hidden;
  /* display: inline-flex; */
  width: 100%;
  max-height: 80vh;
}
#galeria .inner{
  /* white-space: nowrap; */
  display: inline-flex; 
  position: relative;
  left: 0%;
  transition: all ease 2s;
}
#galeria .image{
  margin-right:-17px;  
  height: 100vh;
  display: flex;
  width: 100%;  
}
#galeria .image img{
  width: 100vw;
  align-self: center;
}
.card{
  width: 85%;
  margin: 0 auto;
  box-shadow : 0 0 10px #000;
  text-align: justify;
  background-color: white;
  padding:15px;
    margin-top: -150px;
    position: relative;
    z-index: 9 ;
}
#contacto{
  margin-top: -150px;
  background: black;
}
.formulario{
  display: flex;
  flex-direction: column;
}
.formulario input, .formulario textarea{
  padding: 10px;
  margin: 5px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #eee;
  outline: none;
}
.formulario button{
  background: white;;
  color: black;
  width: 30%;
  margin: 10px auto;
  border: none;
  box-shadow: 0 0 2px white;
  padding: 5px;
  font-size: 2em;
}
.formulario input:focus, .formulario textarea:focus{
  border-bottom: 1px solid #b3d4fc;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.white-text{
    color: white;
}
.dancing-script{
    font-family: 'Dancing Script', crusive;
}
.titulo{
    font-size: 4em;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.relative{
    position: relative;
}
.up{
    z-index: 10;
}
.top{
    top: 1em;
}
.right{
    right: 5em;
}
.full-height{
    height: 100%;
}
.row{
    margin: 0;
}
.no-margin{
    margin: 0;;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 600px) {
  .moto {
    font-size: 12px;
  }
}

@media only screen and (max-width: 960px) {
  #responsive-nav {
    position: relative;
    top: 5px;
    right: 0px;
  }
  #responsive-nav ul {
    position: absolute;
    right: 0px;
    overflow: hidden;
    max-height: 0px;
    background-color: #222;
    transition: all 0.4s;
  }
  #responsive-nav ul.active {
    max-height: 300px;
  }
  #responsive-nav li {
    margin-top: 1em;
    display: block;
    padding: 10px 15px;
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 960px) {
  /* Style adjustments for viewports that meet the condition */
  #contact {
    margin-top: -100px;
  }
  .full-height, #gallery {
    height: 100%;
  }
  #gallery .inner {
    height: 80%;
  }
  #navigation {
    display: block;
  }
  .menu {
    display: none;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}